@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Merriweather:wght@300&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    font-weight: 300;
    background-color: #3a3a3a;
    color: antiquewhite ; 
}

/* Style the header*/

header{
    background-color:antiquewhite;
    padding:20px;
}

header h1 {
 font-size: 40px ;
 color: #3a3a3a;
 text-align: center ;
 
}


/* Score Board*/

.score-board{
    border: 3px solid white;
    width:300px;
    margin:20px auto;
    font-size:50px;
    border-radius: 5px;
    text-align: center;
    padding: 15px 20px;
    position: relative;

}

.tag{
    background-color:#034B03;
    font-size: 15px;
    padding: 2px 10px;
}

#player_label{
position: absolute;
top: 40px;
left: -30px;;
}

#computer_label{
    position: absolute;
    top: 40px;
    right: -35px;
}


/*call to action below score board*/
.outcome{
    font-size: 35px;
    text-align: center;
    font-weight: bold;


}

/*
Game Moves 
*/

.choices{
    
    text-align: center ;
    margin: 50px 0;
}

.move{
    display: inline-block;
    font-size: 70px;
    border: 4px solid white;
    color: rgb(180, 146, 116);
    border-radius: 50%;
    padding: 10px;
    margin: 0 20px;
}

.move:hover{
    cursor: pointer;
    background: black;
}

#play_message{
text-align: center;
font-size: 35px;
font-weight: bold;
}